/*
* skinymike
*
* A simple css effect for underlining anchor tags when hovering
* the underline appears from the centre outward
*
* http://tobiasahlin.com/blog/css-trick-animating-link-underlines/
*
*/
a {
    position: absolute;
    text-decoration: none;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}
